.app-name {
    font-family: Arial, sans-serif; /* Choose your preferred font family */
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold for emphasis */
    color: #333; /* Choose your preferred text color */
    text-align: center; /* Center the text horizontally */
  }
  

.dashboard-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    background-color: #f0f0f0;
}

.content {
    flex: 1;
    display: flex;
}

.left-half {
    flex: 1;
    overflow-y: auto; /* Enable scrolling if content exceeds the container */
    padding: 0px;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.welcome-message {
  padding:20px;
  background-color: rgb(105, 230, 105);
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:white;
  
}

.right-half {
    flex: 1;
    padding: 0px;
    height:100%;
    width: 50%;
}
.graphs-container {
  display: flex;
  flex-direction: column; /* Aligns children vertically */
  justify-content: space-evenly; /* Distributes space evenly around the children */
  align-items: center; /* Aligns children horizontally in the center */
  height: 100%; /* Ensure the parent div has a defined height */
}
.addCategoryModal {
    position: relative;
    bottom: 20px;
    left: 20px;

}

.ingredients-summary { /*for now, it's font weight is heavy, but I deter this by specifying for each item component that it should not be bolded*/
    font-size: 20px;
    font-weight: bold;
    color:white;
    background-color: rgb(117, 232, 117);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
  }

  .grocery-app-logo {
    width: 40px;
    height: auto;
  }

  #feedback-toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }

  #feedback-toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  