/* The snackbar - position it at the bottom and in the middle of the screen */
#feedback-toast {
    visibility: visible; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    
  }
  